* {
  font-family: "Markazi Text", "Karla", serif;
}

label,
input,
select,
textarea,
p {
  font-family: "Karla";
}

input,
select,
option,
textarea {
  background-color: #eeeeee;
  border: none;
  padding: 5px 5px 5px 5px;
  border-radius: 0.2rem;
  resize: none;
}

input,
select {
  width: 10rem;
}

body {
  margin: 0; /* removes white border around website*/
  padding: 0;
  margin-top: -22px;
}

menu {
  list-style: none;
  display: grid;
}

button {
  background-color: white;
  border: none;
}

.burger-icon {
  margin-top: 1.5rem;
}

a:visited,
Link:visited,
a:link,
Link:link {
  text-decoration: none;
  color: #fff;
}

.action-button {
  background-color: #f4ce14;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.2rem;
  font-family: "Karla";
  font-size: 2rem;
}

.action-button:hover {
  background-color: #000;
  color: #eeeeee;
  border-style: solid;
  border-width: 1px;
  border-color: #edefee;
  transition: 0.2s;
}

.subsection {
  margin-top: 3rem;
  font-size: 1.5rem;
}

/* NAVBAR STYLING */
.navbar-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  color: #fff;
  margin-bottom: 0;
  padding: 0.3rem 0;
}

.navbar-menu > li,
.navbar-menu > a,
.navbar-menu > Link {
  text-align: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.navbar-menu .nav-items {
  display: flex;
  gap: 3rem;
  padding-right: 6rem;
}

.mobile {
  display: none;
}

.burger {
  display: none;
  grid-template-columns: 5fr 1fr;
}

.hover-effect:hover {
  color: #f4ce14;
  transition: 0.25s;
}

.nav-image {
  max-height: 4rem;
  margin-top: 0.7rem;
}

/* CALL TO ACTION */
.call-to-action {
  background: url("./assets/food/pizza-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 41vh;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 12rem 5rem;
}

.hero-text > h1 {
  font-size: 5rem;
  margin-top: 0rem;
  margin-bottom: -3rem;
}

/* SPECIALS */
.specials {
  padding: 0 5rem 4rem 5rem;
  animation-duration: 0.33s;
  animation-timing-function: ease-in-out;
  animation-name: slideDownFade;
}

.specials-topbar {
  text-align: center;
  margin-bottom: 2rem;
}

.specials-topbar > h1 {
  font-size: 4rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.specials-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1000px;
  margin: 0 auto;
}

.menu-card {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-bottom: 1rem;
  max-width: 300px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
}

.menu-card > img {
  height: 25vh;
  width: 100%;
  object-fit: cover;
}

.menu-card-content {
  margin: 0.5rem 2rem 1rem 2rem;
}

.menu-card-content > h1 {
  font-size: 2.2rem;
  margin: 0;
}

.menu-card-content > h3 {
  font-size: 1.8rem;
  margin: 0;
}

.menu-card-content > p {
  text-align: justify;
}

.specials-carousel {
  display: none;
}

.specials-carousel {
  margin: 0 2rem 0 2rem;
}

/* ABOUT */
.about-us {
  background-color: #f4ce14;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 4rem 5rem 4.5rem 5rem;
  min-height: 22rem;
  margin-bottom: -1rem;
  grid-gap: 25vw;
}

.about-subtext {
  margin-top: -1.5rem;
}

.double-image {
  max-height: 18rem;
  position: relative;
  top: 4rem;
  left: 2rem;
  animation-duration: 0.33s;
  animation-timing-function: ease-in-out;
  animation-name: slideDownFade;
}

.double-image > img {
  width: 60%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.about-1 {
  position: relative;
  top: 0;
  left: 0;
}

.about-2 {
  position: absolute;
  top: -3.5rem;
  left: 9rem;
}

/* CONTACT */
.container {
  position: relative;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-box {
  width: 100%;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
}

.left {
  background: url("assets/food/product-4.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
}

.right {
  padding: 25px 80px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-title {
  font-size: 4rem;
  position: relative;
  padding: 0 0 5px;
  margin-bottom: 2.5rem;
}

.contact-title:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 150px;
  border-radius: 2px;
  background-color: #f4ce14;
}

.field {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

textarea {
  min-height: 150px;
}

.btn {
  width: 105%;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  background-color: #f4ce14;
  color: #000;
  font-size: 1.6rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #000;
  color: #fff;
}

.field:focus {
  border: 2px solid rgba(30, 85, 250, 0.47);
  background-color: #fff;
}

/* FOOTER STYLING */
footer {
  min-height: 13rem;
  background-color: #000;
  color: #ffffff;
  padding-bottom: 1rem;
  margin-top: -1.4rem;
}

footer > menu {
  grid-template-columns: repeat(4, 1fr);
}

.footer-header {
  margin-bottom: -1.25rem;
}

.footer-links {
  padding: 0;
  list-style: none;
}

.footer-links > a,
.footer-links > Link,
.footer-links > li {
  text-align: left;
  display: block;
  color: white;
  padding-top: 0.2rem;
  font-family: "Karla", "Sans Serif";
}

.footer-links i {
  padding-right: 5px;
}

.footer-links > a:hover,
.footer-links > Link:hover {
  text-decoration: underline;
}

.img-footer {
  display: flex;
  position: relative;
  justify-content: center;
  align-content: center;
}

.img-footer > img {
  max-height: 8rem;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-right: 3rem;
  padding: 0.5rem;
}

.footer-copyright {
  text-align: center;
}

/* MEDIA QUERIES*/
@media screen and (max-width: 60rem) {
  .action-button {
    font-size: 1.2rem;
  }

  .specials-topbar {
    flex-wrap: wrap;
    margin-left: 2rem;
  }

  .specials-cards {
    display: none;
  }

  .specials-carousel {
    display: flex;
  }

  .menu-card {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }

  .testimonials-topbar > h1 {
    margin: 2rem 0 1rem 0;
  }

  .double-image {
    max-height: 16rem;
  }

  .about-us {
    grid-gap: 12vw;
  }
}

@media screen and (max-width: 50rem) {
  .hero-text > p {
    font-size: 0.8rem;
  }

  .about-us {
    grid-gap: 8vw;
  }

  .double-image {
    max-height: 16rem;
  }
}

@media screen and (max-width: 600px) {
  .hero-text > h1 {
    font-size: 2.2rem;
    margin-top: 0rem;
    margin-bottom: -2rem;
  }

  .hero-text > h2 {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  .call-to-action .hero-text > h1 {
    font-size: 4.5rem;
  }

  .call-to-action .hero-text > p {
    font-size: 1.8rem;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
    padding-left: 0;
    position: absolute;
    z-index: 2;
    right: 0;
    left: 0;
    top: 50px;
  }

  .navbar-menu .nav-items {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding-right: 0;
  }

  .call-to-action {
    margin: 0;
    padding: 4rem 2rem 4rem 2rem;
  }

  .specials {
    padding: 0 2rem 0 2rem;
  }

  .about-us {
    padding: 3rem 2rem 3rem 2rem;
    grid-gap: 1vw;
  }

  .double-image {
    max-height: 14rem;
    position: relative;
    top: 4rem;
    left: 2rem;
  }

  .double-image > img {
    width: 60%;
    height: 100%;
    object-fit: cover;
  }

  .about-1 {
    position: relative;
    top: 0;
    left: 0;
  }

  .about-2 {
    position: absolute;
    top: -3rem;
    left: 3rem;
  }

  footer > menu {
    grid-template-columns: repeat(3, 1fr);
  }

  .contact {
    display: none;
  }

  .img-footer > img {
    margin-top: 0.5rem;
  }

  ul > * {
    font-size: 14px;
  }

  .burger {
    display: grid;
  }

  .burger > img {
    margin-top: 1.5rem;
    margin-left: 0.5rem;
  }
}

@keyframes slideDownFade {
  0% {
    transform: translateY(-15%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.carousel > .thumbs-wrapper {
  display: none;
}

@media screen and (max-width: 880px) {
  .container {
    height: auto;
  }
  .contact-box {
    grid-template-columns: 1fr;
    height: auto;
  }
  .right {
    justify-content: start;
  }
  .left {
    height: 200px;
  }
}
